[b0pperbot]
amount_bits = 100
amount_gifted_tier1 = 3
amount_gifted_tier2 = 2
amount_gifted_tier3 = 1
amount_tip = 1.00
signal_bot = Streamlabs
request_cmd = sr
song_cmd = song
credit_cmd = credit
clean_playlist = True

[spotify]
client_id = 
secret_key = 
playlist_uri = 
request_uri = http://localhost:3000

[twitch]
client_id = 
secret_key = 
channel = 
gifted_message = 
bits_message = 
tip_message = 
;request_uri = http://localhost:17563