body {
    font-family: system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(41, 41, 41);
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background: repeat url('/static/bg.jpg');
}

#wrap {
    width: 60%;
    background-color: rgb(211, 211, 211);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgb(51, 51, 51);
    border-top: 8px solid rgb(36, 36, 36)
}

#menu a {
    /*border-radius: 4px;*/
    padding: 4px 14px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    background-color: #8f8f8f;
    color: white;
    font-size: 16pt;
    border-bottom: 4px solid rgb(36, 36, 36);
}
#menu a:hover {
    background-color: rgb(36, 36, 36);
}

input[type=submit] {
background-color: #696969;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16pt;
}

input[type=submit]:hover {
    background-color: #222222;
}

input[type=text],input[type=password], select {
    width: 100%;
    padding: 3px 5px;
    margin: 8px 0;
    display: inline-block;
    padding: 14px 20px;
    border: 1px solid #ccc;
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
}

h2 {
font-size: 18pt;
text-decoration: underline;
font-weight: bold;
margin: 4px;
margin-bottom: 8px;
}

h1 {
    margin: 4px;
    margin-top: 0;
}

table, td {
    border: 0;
    vertical-align: top;
}

td {
    border: 1px solid rgb(175, 175, 175);
    padding: 8px;
}