      
        <form method="post">

          <input type="submit" value="save"> &nbsp;&nbsp; <i>If you change the configuration, you should go to admin section to reset or refresh the bot.</i>
          
            <table>
              <tr>
              <td>

            <h2>bopbot</h2>

            <label for="request_cmd">request command: </label>
            <input type="text" name="request_cmd" id="request_cmd" value="{{REQUEST_CMD}}" required><br>
            <label for="song_cmd">song command: </label>
            <input type="text" name="song_cmd" id="song_cmd" value="{{SONG_CMD}}" required><br>
            <label for="credit_cmd">credit command: </label>
            <input type="text" name="credit_cmd" id="credit_cmd" value="{{CREDIT_CMD}}" required><br>

            <p><label for="disable_credit_cmd">disable credit command: </label>
            <input type="checkbox" name="disable_credit_cmd" id="disable_credit_cmd" {{DISABLE_CREDIT_CMD}}></p>
            <p><label for="disable_request_cmd">disable request command: </label>
            <input type="checkbox" name="disable_request_cmd" id="disable_request_cmd" {{DISABLE_REQUEST_CMD}}></p>
            <p><label for="disable_song_cmd">disable song command: </label>
            <input type="checkbox" name="disable_song_cmd" id="disable_song_cmd" {{DISABLE_SONG_CMD}}></p>
            <p><label for="clean_playlist">clean playlist: </label>
            <input type="checkbox" name="clean_playlist" id="clean_playlist" {{CLEAN_PLAYLIST}}></p>
            <p><label for="cumulative_credit">cumulative credit: </label>
            <input type="checkbox" name="cumulative_credit" id="cumulative_credit" {{CUMULATIVE_CREDIT}}></p>
            </td><td>
            <h2>cost</h2>
            
            <label for="amount_bits">bit cost: </label>
            <input type="text" name="amount_bits" id="amount_bits" value="{{AMOUNT_BITS}}" required><br>
            <label for="amount_gifted_tier1">Sub tier 1 cost: </label>
            <input type="text" name="amount_gifted_tier1" id="amount_gifted_tier1" value="{{AMOUNT_GIFTED_TIER1}}" required><br>
            <label for="amount_gifted_tier2">Sub tier 2 cost: </label>
            <input type="text" name="amount_gifted_tier2" id="amount_gifted_tier2" value="{{AMOUNT_GIFTED_TIER2}}" required><br>
            <label for="amount_gifted_tier3">Sub tier 3 cost: </label>
            <input type="text" name="amount_gifted_tier3" id="amount_gifted_tier3" value="{{AMOUNT_GIFTED_TIER3}}" required><br>

            <label for="amount_tip">tip cost: </label>
            <input type="text" name="amount_tip" id="amount_tip" value="{{AMOUNT_TIP}}" required><br>
              </td><td>
            <h2>messages</h2>

            <label for="credit_message">credit message: </label>
            <input type="text" name="credit_message" id="credit_message" value="{{CREDIT_MESSAGE}}" required><br>
            <label for="song_message">song message: </label>
            <input type="text" name="song_message" id="song_message" value="{{SONG_MESSAGE}}" required><br>
            <label for="no_song_message">no song message: </label>
            <input type="text" name="no_song_message" id="no_song_message" value="{{NO_SONG_MESSAGE}}" required><br>
            <label for="request_message">request message: </label>
            <input type="text" name="request_message" id="request_message" value="{{REQUEST_MESSAGE}}" required><br>
            <label for="notify_message">notify message: </label>
            <input type="text" name="notify_message" id="notify_message" value="{{NOTIFY_MESSAGE}}" required><br>
              </td></tr><tr><td>
            <h2>spotify</h2>
            <label for="spotify_client_id">client id: </label>
            <input type="text" name="spotify_client_id" id="client_id" value="{{SPOTIFY_CLIENT_ID}}" required><br>
            <label for="spotify_secret">secret key: </label>
            <input type="text" name="spotify_secret" id="spotify_secret" value="{{SPOTIFY_SECRET}}" required><br>
            <label for="playlist_url">playlist url: </label>
            <input type="text" name="playlist_url" id="playlist_url" value="{{SPOTIFY_PLAYLIST_URL}}"><br>
            
            <label for="spotify_request_uri">request url: </label>
            <input type="text" name="spotify_request_uri" id="spotify_request_uri" value="{{SPOTIFY_REQUEST_URI}}" required><br>
                </td><td>
                  <h2>twitch</h2>

            <label for="twitch_client_id">client id: </label>
            <input type="text" name="twitch_client_id" id="client_id" value="{{TWITCH_CLIENT_ID}}" required><br>
            <label for="twitch_secret">secret key: </label>
            <input type="text" name="twitch_secret" id="twitch_secret" value="{{TWITCH_SECRET}}" required><br>

            <label for="target_channel">channel: </label>
            <input type="text" name="target_channel" id="target_channel" value="{{TARGET_CHANNEL}}" required><br>

            <label for="signal_bot">signal bot: </label>
            <input type="text" name="signal_bot" id="signal_bot" value="{{SIGNAL_BOT}}" required><br>    
            
            <label for="twitch_request_uri">request url: </label>
            <input type="text" name="twitch_request_uri" id="twitch_request_uri" value="{{TWITCH_REQUEST_URI}}" required><br>
                </td>
                <td>

                  <h2>reg exp</h2>

                  <label for="gifted_regex">gifted regex: </label>
            <input type="text" name="gifted_regex" id="gifted_regex" value="{{GIFTED_REGEX}}" required><br>
            <label for="bits_regex">bits regex: </label>
            <input type="text" name="bits_regex" id="bits_regex" value="{{BITS_REGEX}}" required><br>
            <label for="tip_regex">tip regex: </label>
            <input type="text" name="tip_regex" id="tip_regex" value="{{TIP_REGEX}}" required><br>

                </td></tr>
                </table>

          </form>