      
        <form method="post">

            <h2>bopbot</h2>

            <label for="request_cmd">request command: </label>
            <input type="text" name="request_cmd" id="request_cmd" value="request" required><br>
            <label for="song_cmd">song command: </label>
            <input type="text" name="song_cmd" id="song_cmd" value="song" required><br>
            <p><label for="disable_credit_cmd">disable credit command: </label>
            <input type="checkbox" name="disable_credit_cmd" id="disable_credit_cmd" required></p>
            <p><label for="disable_request_cmd">disable request command: </label>
            <input type="checkbox" name="disable_request_cmd" id="disable_request_cmd" required></p>
            <p><label for="disable_song_cmd">disable song command: </label>
            <input type="checkbox" name="disable_song_cmd" id="disable_song_cmd" required></p>
            <p><label for="clean_playlist">clean playlist: </label>
            <input type="checkbox" name="clean_playlist" id="clean_playlist" checked required></p>
            <p><label for="cumulative_credit">cumulative credit: </label>
            <input type="checkbox" name="cumulative_credit" id="cumulative_credit" required></p>

            <h2>cost</h2>
            
            <label for="amount_bits">bit cost: </label>
            <input type="text" name="amount_bits" id="amount_bits" value="10000" required><br>

            <label for="amount_gifted_tier1">Sub tier 1 cost: </label>
            <input type="text" name="amount_gifted_tier1" id="amount_gifted_tier1" value="20" required><br>
            <label for="amount_gifted_tier2">Sub tier 2 cost: </label>
            <input type="text" name="amount_gifted_tier2" id="amount_gifted_tier2" value="10" required><br>
            <label for="amount_gifted_tier3">Sub tier 3 cost: </label>
            <input type="text" name="amount_gifted_tier3" id="amount_gifted_tier3" value="5" required><br>

            <label for="amount_tips">tip cost: </label>
            <input type="text" name="amount_tips" id="amount_tips" value="100.00" required><br>

            <h2>messages</h2>

            <label for="credit_message">credit message: </label>
            <input type="text" name="credit_message" id="credit_message" value="f'@{username}, you have {credit} song request credit(s).'" required><br>
            <label for="song_message">song message: </label>
            <input type="text" name="song_message" id="song_message" value="f'@{username}, current song is {name} by {artist}.'" required><br>
            <label for="no_song_message">no song message: </label>
            <input type="text" name="no_song_message" id="no_song_message" value="f'@{username}, there is currently no song playing.'" required><br>
            <label for="request_message">request message: </label>
            <input type="text" name="request_message" id="request_message" value="f'@{username}, added {name} by {artist} to the playlist.'" required><br>
            <label for="notify_message">notify message: </label>
            <input type="text" name="notify_message" id="notify_message" value="f'@{username}, you now have {credit} song request credit(s).'" required><br>

            <h2>spotify</h2>
            <label for="spotify_client_id">client id: </label>
            <input type="text" name="spotify_client_id" id="client_id" value="" required><br>
            <label for="spotify_secret_key">secret key: </label>
            <input type="text" name="sppotify_secret_key" id="spotify_secret_key" value="" required><br>
            <label for="spotify_request_uri">request url: </label>
            <input type="text" name="spotify_request_uri" id="spotify_request_uri" value="" required><br>

            <h2>twitch</h2>

            <label for="twitch_client_id">client id: </label>
            <input type="text" name="twitch_client_id" id="client_id" value="" required><br>
            <label for="twitch_secret_key">secret key: </label>
            <input type="text" name="twitch_secret_key" id="twitch_secret_key" value="" required><br>

            <label for="channel">channel: </label>
            <input type="text" name="channel" id="twitch_secret_key" value="" required><br>

            <label for="signal_bot">signal bot: </label>
            <input type="text" name="signal_bot" id="signal_bot" value="" required><br>    
            
            <label for="twitch_request_uri">request url: </label>
            <input type="text" name="twitch_request_uri" id="twitch_request_uri" value="" required><br>

            <label for="gifted_regex">gifted regex: </label>
            <input type="text" name="gifted_regex" id="gifted_regex" value="(.*) just gifted ([1-9][0-9]*) Tier ([1-3]?) subscriptions!" required><br>
            <label for="bits_regex">bits regex: </label>
            <input type="text" name="bits_regex" id="bits_regex" value="Thank you (.*) for donating ([1-9][0-9]*) bits" required><br>
            <label for="tip_regex">tip regex: </label>
            <input type="text" name="tip_regex" id="tip_regex" value="Thank you (.*) for tipping \$((0|[1-9][0-9])*\.(0|[0-9][0-9])??)!" required><br>
            
            <input type="submit" value="save">

          </form>