<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/style.css">
        <javascript type="text/javascript" src="/static/script.js">
    </head>
    <body>
        <div id="wrap" style="position: relative">
        <div id="menu">
            <a href="/">home</a>
            <a href="/app/connect">connect</a>
            <a href="/app/admin">admin</a>
            <a href="/app/configure">configure</a>
            <a href="/auth/login">login</a>
            <a href="/auth/logout">logout</a>
        </div>
        <br>